// Colors
$violet:        #41449f;
$violet-hover:  rgba($violet, 80);
$violet-medium: #babad3;
$violet-light:  #e9e9f2;
$green:         #00746b;
$green-hover:   rgba($green, 80);
$red:           #ff4141;
$red-hover:     rgba($red, 80);

// Brand colors
$primary:         $violet;
$primary-o:       rgba($violet, 0.1);
$success:         $green;
$info:            $violet;
$warning:         #f0ad4e; // default bootstrap
$danger:          $red;

//** Global textual link color.
$link-color:            $primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: none;

$facet-block-text-size:        16px;
$facet-block-toggle-size:      14px;

@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}


.navbar-dark {
  font-size: 80%;
  color: #fff;
  a, .btn-link {
    color: #fff;
  }
}
.jumbotron {
  .menu-catalog__link {
    color: inherit;
    text-transform: uppercase;
  }
}

.featured-products{
  padding: 20px 0 50px;
  .commerce-product{
    margin: 40px auto;
  }
}

.testimonial{
  color: white;
  margin-bottom: 0;
  background-image: url("assets/testimonial.png");
  background-size: cover;
  background-position: center;
  padding: 85px 0;
  &__text{
    font-style: italic;
  }
  &__rating{
    margin: 15px 0;
  }
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}
.well-primary {
  background-color: $primary;
}
.well-lg {
  padding: 37px;
}

@import "scss/footer";
@import "scss/catalog";
@import "scss/product";
@import "scss/facets";
@import "scss/flyout";