// Colors
$violet:        #41449f;
$violet-hover:  rgba($violet, 80);
$violet-medium: #babad3;
$violet-light:  #e9e9f2;
$green:         #00746b;
$green-hover:   rgba($green, 80);
$red:           #ff4141;
$red-hover:     rgba($red, 80);

// Brand colors
$brand-primary:         $violet;
$brand-primary-o:       rgba($violet, 0.1);
$brand-success:         $green;
$brand-info:            $violet;
$brand-warning:         #f0ad4e; // default bootstrap
$brand-danger:          $red;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: none;

@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-catalog__link {
  color: inherit;
  text-transform: uppercase;
}
.navbar-dark {
  font-size: 80%;
  color: #fff;
  a, .btn-link {
    color: #fff;
  }
}

.featured-products{
  padding: 20px 0 50px;
  .commerce-product{
    margin: 40px auto;
  }
}

.commerce-product--catalog{
  margin: 15px auto;
  max-width: 370px;
  border-bottom: 2px solid $brand-primary;
  &:hover{
    .commerce-product--catalog__hover-text{
      visibility: visible;
      opacity: 1;
    }
    .commerce-product--catalog__info{
      padding: 0 15px;  background-color: $brand-primary;
      color: white;
      .field--name-title{
        padding-right: 10px;
      }
      a{
        color: white;
      }
    }
  }
  &__image{
    position: relative;
  }
  &__info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    border-top: 2px solid white;
    font-size: $h6-font-size;
    transition: all .4s ease;
    .field--name-title{
      padding-right: 40px;// to avoid title collapsing
      font-size: $h5-font-size;
      font-weight: bold;
      line-height: 1.2;
      transition: padding-right .4s ease;
      a{
        color: $gray-800;
        font-weight: bold;
        &:before{
          position: absolute;
          top: 0;
          display: block;
          width: 100%;
          height: 100%;
          content:"";
        }
      }
    }
  }
  &__hover-text{
    position: absolute;
    top: 0;
    display: flex;
    visibility: hidden;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($brand-primary, .8);
    color: white;
    text-align: center;
    font-size: $h6-font-size;
    opacity: 0;
    transition: all .4s ease;
    &:hover{
      color: white;
    }
    .glyph{
      width: 100%;
      font-size: 44px;
    }
  }
}

.commerce-product--full{
  &__contents{
    padding: 0 25px;
  }
  // Field labels
  .field--label,
  .panel-title{
    text-transform: uppercase;
    font-weight: bold;
  }
  // Title and price
  .field--name-price,
  .field--name-title{
    font-size: $h1-font-size;
  }
  // Color
  .field--name-variations{
    h3{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      margin: 0 25px 5px 0;
    }
    .field--item{
      display: flex;
      align-items: center;
    }
    ul{
      padding: 0;
      list-style: none;
      margin: 0;
      li{
        display: inline-block;
        margin-right: 5px;
      }
    }
    .field__items{
      margin-top: 25px;
    }
  }
  // Price
  .field--name-price{
    font-weight: bold;
  }
  .attribute-widgets {
    // Override panel styles to match designs
    .product--rendered-attribute,
    .panel-title,
    .panel-body,
    .panel-heading{
      margin: 0;
      padding: 0;
      border: 0;
      background: transparent;
      box-shadow: none;
    }
    .panel-title{
      margin-right: 25px;
    }
    .product--rendered-attribute{
      display: flex;
      margin: 30px 0;
      .form-item{
        margin: 0;
      }
      .option{
        margin: 0;
        padding: 0;
        border-radius: 0;
      }
      .control-label{
        border: 2px solid transparent;
        &:before,
        &:after{
          display: none;
        }
      }
    }
    .product--rendered-attribute {
      // selected and active variations
      .form-radio:checked  ~ label.option {
        border: 2px solid $brand-primary;
      }
    }
  }
  // Select
  .form-type-select{
    label{
      margin-right: 25px;
      text-transform: uppercase;
    }
  }
  .select-wrapper{
    width: auto;
  }
  .form-control{
    border-color: $brand-primary;
  }
  // Submit button
  .form-submit{
    max-width: 370px;
    width: 100%;
  }
  // Vertical spacing
  .field--name-body,
  .field--name-variations,
  .field--name-sku{
    margin: 30px 0;
  }
}


// Product images
.product-img{
  &--main{
    position: relative;
    overflow: hidden;
    margin-bottom: $grid-gutter-width;
    width: 100%;
    height: 370px;
    @include media-breakpoint-up(sm) {
      height: 570px;
    }
    img{
      display: none;
    }
    &__image{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform .5s ease-out;
    }
  }
  &--thumbs{
    display: flex;
    flex-wrap: wrap;
  }
  &--thumb__switcher{
    padding-right: 20px;
    font-size: 48px;
    line-height: 100px;
    cursor: pointer;
  }
  &--thumb{
    position: relative;
    margin-left: $grid-gutter-width;
    width: 101px;
    height: 101px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    &:hover{
      &:before{
        background-color: rgba($brand-primary, 0.8);

        // @extend .glyph-plus;
      }
    }
    &:before{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      content: "";
      text-align: center;
      font-size: 34px;
      font-family: "icons";
      line-height: 100px;
      transition: background-color .2s ease;
    }
    &.active{
      border-color: rgba($brand-primary, 0.8);
    }
    img{
      display: none;
    }
  }
}
