@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-catalog__link {
  color: inherit;
  text-transform: uppercase;
}
.navbar-dark {
  font-size: 80%;
  color: #fff;
  a, .btn-link {
    color: #fff;
  }
}
