.commerce-product--full{
  &__contents{
    padding: 0 25px;
  }
  // Field labels
  .field--label,
  .panel-title{
    text-transform: uppercase;
    font-weight: bold;
  }
  // Title and price
  .field--name-price,
  .field--name-title{
    font-size: $h1-font-size;
  }
  // Color
  .field--name-variations{
    h3{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      margin: 0 25px 5px 0;
    }
    .field--item{
      display: flex;
      align-items: center;
    }
    ul{
      padding: 0;
      list-style: none;
      margin: 0;
      li{
        display: inline-block;
        margin-right: 5px;
      }
    }
    .field__items{
      margin-top: 25px;
    }
  }
  // Price
  .field--name-price{
    font-weight: bold;
  }
  .attribute-widgets {
    // Override panel styles to match designs
    .product--rendered-attribute,
    .panel-title,
    .panel-body,
    .panel-heading{
      margin: 0;
      padding: 0;
      border: 0;
      background: transparent;
      box-shadow: none;
    }
    .panel-title{
      margin-right: 25px;
    }
    .product--rendered-attribute{
      display: flex;
      margin: 30px 0;
      .form-item{
        margin: 0;
      }
      .option{
        margin: 0;
        padding: 0;
        border-radius: 0;
      }
      .control-label{
        border: 2px solid transparent;
        &:before,
        &:after{
          display: none;
        }
      }
    }
    .product--rendered-attribute {
      // selected and active variations
      .form-radio:checked  ~ label.option {
        border: 2px solid $brand-primary;
      }
    }
  }
  // Select
  .form-type-select{
    label{
      margin-right: 25px;
      text-transform: uppercase;
    }
  }
  .select-wrapper{
    width: auto;
  }
  .form-control{
    border-color: $brand-primary;
  }
  // Submit button
  .form-submit{
    max-width: 370px;
    width: 100%;
  }
  // Vertical spacing
  .field--name-body,
  .field--name-variations,
  .field--name-sku{
    margin: 30px 0;
  }
}


// Product images
.product-img{
  &--main{
    position: relative;
    overflow: hidden;
    margin-bottom: $grid-gutter-width;
    width: 100%;
    height: 370px;
    @include media-breakpoint-up(sm) {
      height: 570px;
    }
    img{
      display: none;
    }
    &__image{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform .5s ease-out;
    }
  }
  &--thumbs{
    display: flex;
    flex-wrap: wrap;
  }
  &--thumb__switcher{
    padding-right: 20px;
    font-size: 48px;
    line-height: 100px;
    cursor: pointer;
  }
  &--thumb{
    position: relative;
    margin-left: $grid-gutter-width;
    width: 101px;
    height: 101px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    &:hover{
      &:before{
        background-color: rgba($brand-primary, 0.8);

        // @extend .glyph-plus;
      }
    }
    &:before{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      content: "";
      text-align: center;
      font-size: 34px;
      font-family: "icons";
      line-height: 100px;
      transition: background-color .2s ease;
    }
    &.active{
      border-color: rgba($brand-primary, 0.8);
    }
    img{
      display: none;
    }
  }
}